#rik-home-text-container {
  color: white;
  font-size: 25px;
  font-weight: lighter;
  padding: 65px 25px;
  background-color: var(--primary-color);
}

#rik-home-top-container {
  padding: 0;
}

#events-container {
  width: 100%;
}
