<div id="rik-footer-container"
     fxLayoutAlign="space-between center"
     fxLayout="row">
  <div>
    <h2>Curabitur</h2>
    <span>Emauris</span> <br>
    <span>Kfringilla</span> <br>
    <span>Oin magna sem</span> <br>
    <span>Kelementum</span> <br>
  </div>

  <div>
    <h2>Fusce</h2>
    <span>Econsectetur</span> <br>
    <span>Ksollectudin</span> <br>
    <span>Omvulputate</span> <br>
    <span>Nunc fringilla tellu</span> <br>
  </div>

  <div fxFlex="50">
    <h2>Kontakt</h2>
    <div fxLayout="row"
         fxLayoutAlign="space-between center">
      <div>
        <span class="sub-header">Peakontor: Tallinnas</span> <br>
        <span>Väike- Ameerika 1, 11415 Tallinn</span> <br>
        <span>Telefon: 605 4450</span> <br>
        <span>Faks: 605 3186</span> <br>
      </div>
      <div>
        <span class="sub-header">Harukontor: Võrus</span> <br>
        <span>Oja tn 7 (külastusaadress)</span> <br>
        <span>Telefon: 605 3330</span> <br>
        <span>Faks: 605 3155</span> <br>
      </div>
    </div>
  </div>

</div>
