mat-toolbar {
  background-color: white;
  #rik-logo-container {
    padding: 10px 0;
  }
  #rik-symbol-container {
    padding: 5px 0;
  }
}

#rik-navigation-link-button-container button {
  border-radius: 0;
  margin: 0;
  background-color: white;
  color: black;
}

.rik-top-navigation-active-link {
  color: white !important;
  background-color: var(--primary-color) !important;
}
