<mat-toolbar color="accent"
             fxLayout="row"
             fxLayoutAlign="space-between stretch">

  <div fxLayout="row"
       fxFlex="45"
       fxLayoutAlign="space-between stretch">
    <div id="rik-logo-container">
      <img src="../../../assets/images/logo.svg"
           routerLink="/"
           alt="logo"/>
    </div>
    <div fxLayout="row"
         id="rik-navigation-link-button-container"
         fxLayoutAlign="space-around stretch">
      <button mat-flat-button
              routerLinkActive="rik-top-navigation-active-link"
              routerLink="/">
        Avaleht
      </button>
      <button mat-flat-button
              routerLinkActive="rik-top-navigation-active-link"
              routerLink="/event">
        Ürituse lisamine
      </button>
    </div>
  </div>
  <div id="rik-symbol-container"
       fxLayoutAlign="space-between stretch">
    <img src="../../../assets/images/symbol.svg"
         alt="logo"/>
  </div>

</mat-toolbar>
