.blue-snackbar {
  background: var(--primary-color) !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  * {
    color: white !important;
  }
}

.red-snackbar {
  background: var(--warn-color) !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  * {
    color: white !important;
  }
}
